recursive-include inventree_template_pro/templates/template_pro *
recursive-include inventree_template_pro/example_labels *
recursive-include inventree_template_pro/example_reports *
include inventree_template_pro/template_pro.yaml