recursive-include inventree_part_templates/templates/part_templates *
recursive-include inventree_part_templates/example_labels *
recursive-include inventree_part_templates/example_reports *
include inventree_part_templates/part_templates.yaml