{# inventree-label-part-tinyqr.html #}

{% extends "label/label_base.html" %}

{% load l10n i18n barcode report template_pro inventree_extras %}

{% block style %}
{% localize off %}

{% define 1.5 as border %}
{% subtract 10 border as narrow_height %}

{% subtract narrow_height 1.5 as qr_size %}

.label {
    display: block;
    position: absolute;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: {{ front_size }}mm;
    height: {{ height }}mm;
    width: {{ width }}mm;
}

.narrow {
    height: {{ narrow_height }}mm;
    width: {{ narrow_height }}mm;
    border-bottom: 0.5pt solid black;
    border-right: 0.5pt solid black;
}

.qr {
    display: block;
    height: {{ qr_size }}mm;
    width: {{ qr_size }}mm;
    position: fixed;
    left: 0mm;
    top: 0mm;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: red;
}
{% endlocalize %}
{% endblock style %}


{% block content %}
{% if not template_pro %}
    <div class="error">Plugin inventree-template-pro required</div>
{% elif template_pro.error %}
    <div class="error">{{ template_pro.error }}</div>
{% else %}
    <div class="label">
        <div class="narrow">
            <img class='qr' alt="{% trans 'QR Code' %}" src='{% qrcode qr_data %}'>
        </div>
    </div>
{% endif %}
{% endblock content %}
