{# inventree-label-part-gridfinity.html #}

{% extends "label/label_base.html" %}

{% load l10n i18n barcode report template_pro inventree_extras %}

{% block style %}
{% localize off %}

{% subtract 12 1.5 as narrow_height %}

{% define narrow_height as qr_size %}
{% subtract width 1 as width %}

{% subtract width qr_size as right_width %}

{% define 1 as qr_to_right_margin %}
{% subtract right_width qr_to_right_margin as right_width %}

{% define 2.4 as font_size %}

.label {
    display: block;
    position: absolute;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: {{ front_size }}mm;
    height: {{ height }}mm;
    width: {{ width }}mm;
    line-height: 1.05;
}

.narrow {
    height: {{ narrow_height }}mm;
    border-bottom: 0.5pt solid black;
}

.qr {
    display: block;
    height: {{ qr_size }}mm;
    width: {{ qr_size }}mm;
    position: fixed;
    left: 0mm;
    top: 0mm;
}

.right-section {
    display: block;
    overflow: hidden;
    position: absolute;
    height: {{ narrow_height }}mm;
    left: {% add qr_size qr_to_right_margin %}mm;
    top: 0mm;
    width: {{ right_width }}mm;
    line-height: 1.05;
}

.category-ipn {
    display: block;
    position: relative;
    line-height: 1.05;
}

.ipn {
    padding: 0 2pt;
    border: 0.5pt solid black;
    font-size: {{ font_size }}mm;
    border-radius: 2pt;
    position: absolute;
    top: 0;
    left: 0;
}

.category {
    font-size: {{ font_size }}mm;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.name {
    font-size: {{ font_size }}mm;
    padding-top: {% add font_size 0.5 %}mm;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    line-height: 1.05;
}

.description {
    font-size: {{ font_size }}mm;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.05;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: red;
}
{% endlocalize %}
{% endblock style %}


{% block content %}
{% if not template_pro %}
    <div class="error">Plugin inventree-template-pro required</div>
{% elif template_pro.error %}
    <div class="error">{{ template_pro.error }}</div>
{% else %}
    <div class="label">
        <div class="narrow">
            <img class='qr' alt="{% trans 'QR Code' %}" src='{% qrcode qr_data %}'>

            <div class='right-section'>
                <div class="'category-ipn">
                    <span class='category'>{{ template_pro.short_cat }}</span>
                    {% if part.IPN %}
                        <!-- span class='ipn'>{{ part.IPN }}</span-->
                    {% endif %}
                </div>
                <div class='name'>{{ part.name|scrub:"MPN" }}</div>
                <div class='description'>{{ template_pro.description }}</div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}
