{# inventree-label-location-tray.html #}

{% extends "label/label_base.html" %}

{% load l10n i18n barcode report template_pro inventree_extras %}

{% block style %}
{% localize off %}

{% subtract width 0 as label_width %}
{% define 27 as label_height %}

{% define 9 as qr_size %}

{% subtract width qr_size as right_width %}

{% define 1 as qr_to_right_margin %}
{% subtract right_width qr_to_right_margin as right_width %}

{% define 0.5 as qr_to_bottom_margin %}
{% subtract height qr_size as bottom_height %}
{% subtract bottom_height qr_to_bottom_margin as bottom_height %}

{% define 4 as font_size %}

.label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    position: absolute;
    height: {{ height }}mm;
    font-size: {{ font_size }}mm;
    line-height: 1.05;
}

.contents {
    height: {{ label_height }}mm;
    width: {{ label_width }}mm;
    overflow: hidden;
    border-bottom: 0.5pt solid black;
}

.qr {
    display: block;
    height: {{ qr_size }}mm;
    width: {{ qr_size }}mm;
    position: fixed;
    left: 0mm;
    top: 0mm;
}

.right-section {
    display: block;
    position: absolute;
    height: {{ right_height }}mm;
    width: {{ right_width }}mm;
    left: {% add qr_size qr_to_right_margin %}mm;
    top: 0mm;
}

.bottom-section {
    position: fixed;
    display: block;
    width: 100%;
    height: {{ bottom_height }}mm;
    top: {% add qr_size qr_to_bottom_margin %}mm;
    left: 0mm;
}

.name {
    font-style: italic;
    word-wrap: break-word;
    font-weight: bold;
    line-height: 1.05;
    overflow-wrap: break-word;
}

.description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: bold;
    padding-top: 0.2mm;
    margin-top: 0.3mm;
    line-height: 1.05;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: red;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
{% endlocalize %}
{% endblock style %}

{% block content %}
{% if not template_pro %}
    <div class="error">Plugin inventree-template-pro required</div>
{% elif template_pro.error %}
    <div class="error">{{ template_pro.error }}</div>
{% else %}
    <div class="label">
        <div class="contents">
            <img class='qr' alt="{% trans 'QR Code' %}" src='{% qrcode qr_data %}'>

            <div class='right-section'>
                <!--div class='name'>{{ location.name }}</div-->
            </div>
            <div class='bottom-section'>
                <div class='description'>{{ location.description }}</div>
            </div>  
        </div>
    </div>
{% endif %}
{% endblock content %}
