{% load i18n %}
<script>
    function onPartTemplatesPanelLoad() {
        let table = $('#part-template-table');
        $(table).find('.button-part-templates-edit').click(function() {
                // var pk = $(this).attr('pk');

                // editPartParameter(pk, {
                //     refreshTable: table
                // });

        let html = `
        <div class='alert alert-block alert-danger'>
            {% trans "Deleting this template will revert to using any inherited templates." %}
        </div>`

		let key = $(this).attr('key');
                alert('edit clicked: ' + key);
                constructForm(`TO-BE-DEFINED/${key}/`, {
                    method: 'DELETE',
                    title: '{% trans "Delete Template" %}',
                    preFormControl: html,
                    refreshTable: table,
                });
            });

    }
</script>
{% if part_templates %}
        <table class='table table-condensed' id="part-template-table">
            <thead>
                <tr>
                    <th> {% trans "Variable Name" %} </th>
                    <th> {% trans "Active Template" %} </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for item in part_templates %}
                    <tr>
                        <td>{{ item.key }}</td>
                        <td>
                            {% if item.template %}
                                {{ item.template }}
                            {% else %}
                                {{ item.inherited_template }}
                                <span class='badge badge-left rounded-pill bg-success'>{% trans "Inherited" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group float-right" role="group">
				    <button key="{{ item.key }}" id="button-part-templates-edit-{{ item.key }}" class="btn btn-outline-secondary button-part-templates-edit" title="Edit template">
                                    <span class='fas fa-edit icon-blue'></span>
                                </button>
				<button key="{{ item.key }}" id="button-part-templates-delete-{{ item.key }}" class="btn btn-outline-secondary button-part-templates-delete" title="Delete template"{% if not template %} disabled="true"{% endif %}>
                                    <span class='fas fa-trash-alt {% if template %}icon-red{% else %}icon-gray{% endif %}'></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% else %}
    <p>Plugin not configured (see <a href="/settings/">settings</a> and
    select "Inventree Part Templates" from the Plugins section).</p>
{% endif %}
