{# inventree-label-part-large.html #}

{% extends "label/label_base.html" %}

{% load l10n i18n barcode report template_pro %}

{% block style %}
{% localize off %}

{% define 12 as qr_size %}

{% subtract width 2 as width %}

{% subtract width qr_size as right_width %}

{% define 1 as qr_to_right_margin %}
{% subtract right_width qr_to_right_margin %}

{% define 0.5 as qr_to_bottom_margin %}
{% subtract height qr_size as bottom_height %}
{% subtract bottom_height qr_to_bottom_margin as bottom_height %}

{% define 3.5 as font_size %}

.label {
    display: block;
    position: absolute;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: {{ front_size }}mm;
    height: {{ height }}mm;
    width: {{ width }}mm;
    left: {{ height }}mm;
    line-height: 1.05;
}

.qr {
    display: block;
    height: {{ qr_size }}mm;
    width: {{ qr_size }}mm;
    position: fixed;
    left: 0mm;
    top: 0mm;
}

.right-section {
    display: block;
    overflow: hidden;
    position: absolute;
    height: {{ qr_size }}mm;
    left: {% add qr_size qr_to_right_margin %}mm;
    top: 0mm;
    width: {{ right_width }}mm;
    border-bottom: 0.5pt solid black;
    line-height: 1.05;
}

.ipn {
    padding: 0 2pt;
    border: 0.5pt solid black;
    font-size: {{ font_size }}mm;
    border-radius: 2pt;
    position: absolute;
    line-height: 1.05;
}

.name-category {
    display: block;
    position: relative;
    padding-top: {% add font_size 0.5 %}mm;
    line-height: 1.05;
}

.name {
    font-size: {{ font_size }}mm;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    line-height: 1.05;
}

.category {
    font-size: {{ font_size }}mm;
    font-style: italic;
    text-overflow: ellipsis;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap; 
    line-height: 1.05;
}

.bottom-section {
    position: fixed;
    display: block;
    width: 100%;
    height: {{ bottom_height }}mm;
    top: {% add qr_size qr_to_bottom_margin %}mm;
    overflow: hidden;
    left: 0mm;
    line-height: 1.05;
}

.description {
    font-size: {{ font_size }}mm;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.05;
    overflow-wrap: break-word;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: red;
}
{% endlocalize %}
{% endblock style %}


{% block content %}
{% if not template_pro %}
    <div class="error">Plugin inventree-template-pro required</div>
{% elif template_pro.error %}
    <div class="error">{{ template_pro.error }}</div>
{% else %}
    <div class="label">
        <img class='qr' alt="{% trans 'QR Code' %}" src='{% qrcode qr_data %}'>

        <div class='right-section'>
            {% if part.IPN %}
                <div><span class='ipn'>{{ part.IPN }}</span></div>
            {% endif %}
            <div class='name-category'>
                <div class='name'>{{ part.name|scrub:"MPN" }}</div>
                <div class='category'>{{ template_pro.category }}</div>
            </div>
        </div>
        <div class='bottom-section'>
            <div class='description'>{{ template_pro.description }}</div>
        </div>
    </div>
{% endif %}
{% endblock content %}
